.cmp-adaptiveform-radiobutton{
}
.cmp-adaptiveform-radiobutton__label-container{
}
.cmp-adaptiveform-radiobutton__label{
}
.cmp-adaptiveform-radiobutton__widget{
}
.cmp-adaptiveform-radiobutton__longdescription {
}
.cmp-adaptiveform-radiobutton__shortdescription {
  
}
.cmp-adaptiveform-radiobutton__questionmark{
}
.cmp-adaptiveform-radiobutton__errormessage{

}
.cmp-adaptiveform-radiobutton__option.HORIZONTAL{

}
.cmp-adaptiveform-radiobutton__option.VERTICAL{
}