.cmp-adaptiveform-radiobutton__items.HORIZONTAL{
    display: inline-block;
}
.cmp-adaptiveform-radiobutton__items.VERTICAL{
    display: block;
}
[data-cmp-adaptiveform-radiobutton-hidden="true"] {
    display: none
}