.cmp-tabsonleft{

}
.cmp-tabs__label{

}
.cmp-tabsonleft__tablist{
  float: left;
  list-style:none;

}

.cmp-tabsonleft__tab{
  padding: 0.625rem;

}

.cmp-tabsonleft__tab.cmp-tabsonleft__tab--active{

}

.cmp-tabsonleft__tabpanel{
  float: left;
  width: 80%;
  display: none;

}

.cmp-tabsonleft__tabpanel.cmp-tabsonleft__tabpanel--active{
  display: block;
}
.cmp-tabsonleft__longdescription {

}
.cmp-tabsonleft__shortdescription {

}
.cmp-tabsonleft__questionmark{

}