.cmp-adaptiveform-textinput {
  .inputMixin();
}
textarea.cmp-adaptiveform-textinput__widget {
  height: @textarea-height;
}
.cmp-adaptiveform-textinput__charcount {
  .shortdescriptionMixin();
  color: @light-gray;
  text-align: right;
}