.cmp-adaptiveform-panelcontainer__repeatable label.coral-Form-fieldlabel {
    display: inline-block;
    margin-top: 8px;
    margin-left: 9px;
}

.cmp-adaptiveform-panelcontainer__repeatable coral-switch.coral-Form-field {
    display: inline-block;
    margin-top: 10px;
    margin-left: 4px;
    float: left;
}

.cmp-adaptiveform-panelcontainer__minOccur,
.cmp-adaptiveform-panelcontainer__maxOccur {
    margin-left: 25px !important;
    width: 250px !important;
}

.cmp-adaptiveform-panelcontainer__minOccur coral-icon.coral-Form-fielderror,
.cmp-adaptiveform-panelcontainer__maxOccur coral-icon.coral-Form-fielderror {
    display: none !important;
}