.cmp-portallister__item--list {
    border-bottom: 2px solid #ECEFF1;
    width: 100%;

    & th {
        height: 20px;
        min-width: 40px;
    }

    & tr {
        height: 40px;
        min-width: 70px;
    }

    & td {
        max-width: 0;
        text-transform: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 16px;
    }

    &-image {
        width: 50px;
        max-height: 25px;
        vertical-align: middle;

        &-wrapper {
            width: 10%;
        }
    }

    &-title {
        padding-right: 20px;
        width: 20%;
    }

    &-body {
        padding-right: 20px;
        width: 60%;
    }

    &-footer {
        width: 10%;
    }
}

.cmp-portallister-results {
    margin-top: 5px;

    &--list {
        border-collapse: collapse;
        width: 100%;
    }
}
