.cmp-portallister__item--list {
    border-bottom: 2px solid #ECEFF1;
    width: 100%;

    & th {
        height: 20px;
        min-width: 40px;
    }

    & tr {
        height: 40px;
        min-width: 70px;
    }

    & td {
        max-width: 0;
        text-transform: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 16px;
    }

    &-image {
        width: 50px;
        max-height: 25px;
        vertical-align: middle;

        &-wrapper {
            width: 10%;
        }
    }

    &-title {
        padding-right: 20px;
        width: 20%;
    }

    &-body {
        padding-right: 20px;
        width: 60%;
    }
}

.cmp-portallister-results {
    margin-top: 5px;

    &--list {
        border-collapse: collapse;
        width: 100%;
    }
}

.cmp-portallister__item--list-operations {
    cursor: pointer;
}

.cmp-portallister__item--list-operations-icon {
    font-size: 14px;
    color: #6e6e6e;
    &:hover {
        color: #2c2c2c;
    }
    &::before {
        content: "\f141";
        font-family: 'Font Awesome 5 Free';
    }
}