.cmp-verticaltabs{

}
.cmp-verticaltabs__label{

}
.cmp-verticaltabs__tablist{
  float: left;
  list-style:none;

}

.cmp-verticaltabs__tab{
  padding: 0.625rem;

}

.cmp-verticaltabs__tab.cmp-verticaltabs__tab--active{

}

.cmp-verticaltabs__tabpanel{
  float: left;
  width: 80%;
  display: none;

}

.cmp-verticaltabs__tabpanel.cmp-verticaltabs__tabpanel--active{
  display: block;
}
.cmp-verticaltabs__longdescription {

}
.cmp-verticaltabs__shortdescription {

}
.cmp-verticaltabs__questionmark{

}