version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5
  browser-tools: circleci/browser-tools@1.3.0

common:
  restore_cache: &restore_cache
    restore_cache:
      keys:
        - maven-repo-v2-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
        - maven-repo-v2-{{ arch }}-{{ .Branch }}
        - maven-repo-v2-

  cypress_test_steps: &cypress_test_steps
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
              google-chrome --version
              chromedriver --version
              which google-chrome
          name: Check browser installed
      - *restore_cache
      - attach_workspace:
          at: /home/circleci/build
      - run:
          name: UI tests
          command: node .circleci/ci/it-tests.js
      - store_test_results:
          path: ui.tests/test-module/target/reports
      # Save test results as artifacts
      - store_artifacts:
          path: ui.tests/test-module/target
      # Save AEM logs as artifacts
      - store_artifacts:
          path: logs

  docker_auth: &docker_auth
    auth:
      username: $DOCKER_USER
      password: $DOCKER_PASS

executors:
  forms_executor:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-openjdk-azul:11-stretch-node-browsers
        <<: *docker_auth
  forms_executor_java8:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-openjdk-azul:8-stretch-node-browsers
        <<: *docker_auth
  test_executor_cloudready:
    docker:
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
        <<: *docker_auth
      - image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem-cloudready:8630-openjdk11
        <<: *docker_auth

jobs:
  build-java-11:
    executor: forms_executor
    working_directory: /home/circleci/build
    steps:
      - checkout
      - restore_cache:
          keys: 
            - maven-repo-v1-{{ checksum "pom.xml" }}
            - maven-repo-v1-
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Build
          command: node .circleci/ci/build.js # this is important, since this is used during UI test run too
      - save_cache:
          paths:
            - ~/.m2
          key: maven-repo-v2-{{ arch }}-{{ .Branch }}-{{ checksum "pom.xml" }}
      - persist_to_workspace:
          root: /home/circleci/build
          paths:
            - configuration.json
            - bundles/core/target
            - ui.apps/target/*.zip
            - examples/ui.apps/target/*.zip
            - examples/ui.content/target/*.zip
            - it/content/target/*.zip
      - store_test_results:
          path: bundles/core/target/surefire-reports
      - store_artifacts:
          path: bundles/core/target/surefire-reports
      - codecov/upload:
          conf: .circleci/codecov.yml
          flags: unittests

  build-java-8:
    executor: forms_executor_java8
    working_directory: /home/circleci/build
    steps:
      - checkout
      - *restore_cache
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Build
          command: node .circleci/ci/build.js
      - store_artifacts:
          path: test-results/junit

  cypress-chrome-cloudready-with-addon:
    executor: test_executor_cloudready
    environment:
      AEM: addon
      TYPE: cypress
      BROWSER: chrome
      PRERELEASE: 'false'
    resource_class: large
    working_directory: /home/circleci/build
    <<: *cypress_test_steps
 
  release:
    executor: forms_executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - maven-repo-v1-{{ checksum "pom.xml" }}
            - maven-repo-v1-
      - run:
          name: Update permissions
          command: sudo chown -R circleci /usr/local/lib/node_modules
      - run:
          name: Release
          # Only performs a 'mvn deploy' after the 'mvn release:prepare' because circleCI
          # already checks out the git tag like 'mvn release:perform' would do.
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> /home/circleci/.npmrc
            echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --import
            mvn -B -s /home/circleci/project/.circleci/settings.xml clean deploy -P release-sign-artifacts,cloud,adobe-public -Dskip-it
            rm -rf /home/circleci/.gnupg
            rm -rf /home/circleci/.npmrc

workflows:
  version: 2
  build-and-release:
    jobs:
      - build-java-11:
          filters:
            tags:
              only: /.*/
      - build-java-8:
          filters:
            tags:
              only: /.*/
      - cypress-chrome-cloudready-with-addon:
          filters:
            tags:
              only: /.*/
          requires:
            - build-java-11
            - build-java-8
      - release:
          requires:
            - build-java-11
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^core-forms-components-reactor-\d+\.\d+\.\d+$/
