version: '3'

services:
  circleci-qp:
    image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-qp:6.4.6-openjdk11
    entrypoint: tail -f /dev/null  # Keeps the container running

  circleci-aem-cloudready:
    image: docker-adobe-cif-release.dr-uw2.adobeitc.com/circleci-aem-cloudready:13804-openjdk11
    depends_on:
      - circleci-qp
    # Add any additional configurations or environment variables if needed
    environment:
      - FORMS_DOCUMENT_SERVICE=aem-formsdocservice-java:8080
    ports:
      - "3000:3000"
      - "4502:4502"
      - "55555:55555"
    volumes:
      - /home/circleci/build:/home/circleci/build

  aem-formsdocservice-native:
    image: docker2-granite-release-local.dr-uw2.adobeitc.com/aem-ethos/formsdocservice-native:1.0.158
    depends_on:
      - circleci-aem-cloudready
    environment:
      - REGION_NAME=local
      - ENVIRONMENT_NAME=CI
    ports:
      - "8007:8007"
      - "8008:8008"
    volumes:
      - /tmp:/mnt/shared

  aem-formsdocservice-java:
    image: docker2-granite-release-local.dr-uw2.adobeitc.com/aem-ethos/formsdocservice-java:10.0.214
    depends_on:
      - aem-formsdocservice-native
    environment:
      - REGION_NAME=local
      - ENVIRONMENT_NAME=CI
      - NATIVE_SERVICE_HOST=aem-formsdocservice-native
    ports:
      - "8080:8080"
    volumes:
      - /tmp:/mnt/shared
