/**
## BEM Description
BLOCK cmp-adaptiveform-fileinput
    ELEMENT cmp-adaptiveform-fileinput__label
    ELEMENT cmp-adaptiveform-fileinput__widget
    ELEMENT cmp-adaptiveform-fileinput__questionmark
    ELEMENT cmp-adaptiveform-fileinput__shortdescription
    ELEMENT cmp-adaptiveform-fileinput__longdescription
*/

.cmp-adaptiveform-fileinput {

}

.cmp-adaptiveform-fileinput__widget {

}

.cmp-adaptiveform-fileinput__label {

}

.cmp-adaptiveform-fileinput__longdescription {

}

.cmp-adaptiveform-fileinput__shortdescription {

}

.cmp-adaptiveform-fileinput__questionmark {
  
}

.cmp-adaptiveform-fileinput__filelist {

}

.cmp-adaptiveform-fileinput__fileitem {
    border-bottom: 1px solid #666;
    border-top: none !important;
}

.cmp-adaptiveform-fileinput__filename {
}

.cmp-adaptiveform-fileinput__widgetlabel {
  
}

.cmp-adaptiveform-fileinput__filedelete {
}

.cmp-adaptiveform-fileinput__container {
}

.cmp-adaptiveform-fileinput__dragarea {
    border: 1px dashed #666;
    border-radius: 5px;
    padding: 10px 5px;
}

.cmp-adaptiveform-fileinput__dragtext {
    padding-bottom: 10px;
    padding-bottom: 20px;
}

.cmp-adaptiveform-fileinput__icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/387/782/small/paperclip-icon-free-vector.jpg');
}

.cmp-adaptiveform-fileinput__dragarea.active {
    border: 1px dashed #42c0e0;
}