.cmp-adaptiveform-redbutter__option__label {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.cmp-adaptiveform-redbutter__option__label input {display:none;}

.cmp-adaptiveform-redbutter__option__widget {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.cmp-adaptiveform-redbutter__option__widget:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .cmp-adaptiveform-redbutter__option__widget {
    background-color: #2ab934;
}

input:focus + .cmp-adaptiveform-redbutter__option__widget {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .cmp-adaptiveform-redbutter__option__widget:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.cmp-adaptiveform-redbutter__option__widget__on
{
    display: none;
}

.cmp-adaptiveform-redbutter__option__widget__on, .cmp-adaptiveform-redbutter__option__widget__off
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .cmp-adaptiveform-redbutter__option__widget .cmp-adaptiveform-redbutter__option__widget__on
{display: block;}

input:checked + .cmp-adaptiveform-redbutter__option__widget .cmp-adaptiveform-redbutter__option__widget__off
{display: none;}

/*--------- END --------*/

/* Rounded cmp-adaptiveform-redbutter__option__widgets */
/* .cmp-adaptiveform-redbutter__option__widget.round {
  border-radius: 34px;
}

.cmp-adaptiveform-redbutter__option__widget.round:before {
  border-radius: 50%;} */