/**
## BEM Description
BLOCK cmp-adaptiveform-checkboxgroup
    ELEMENT cmp-adaptiveform-checkboxgroup__label
    ELEMENT cmp-adaptiveform-checkboxgroup__widget
    ELEMENT cmp-adaptiveform-checkboxgroup__questionmark
    ELEMENT cmp-adaptiveform-checkboxgroup__shortdescription
    ELEMENT cmp-adaptiveform-checkboxgroup__longdescription
*/

.cmp-adaptiveform-checkboxgroup {

}

.cmp-adaptiveform-checkboxgroup__widget {

}

.cmp-adaptiveform-checkboxgroup__label {

}

.cmp-adaptiveform-checkboxgroup__widget__label {
    display: inline;
}

.cmp-adaptiveform-checkboxgroup__longdescription {

}

.cmp-adaptiveform-checkboxgroup__shortdescription {

}

.cmp-adaptiveform-checkboxgroup__questionmark {

}

.cmp-adaptiveform-checkboxgroup-item {
    margin-right: 5px;
    padding-left: 0;
}

.cmp-adaptiveform-checkboxgroup-item.HORIZONTAL{
    display: inline-block;
}

.cmp-adaptiveform-checkboxgroup-item.VERTICAL{
    display: block;
}

[data-cmp-adaptiveform-checkboxgroup-hidden=true] {
    display: none;
}