.cmp-adaptiveform-switch {
}

.cmp-adaptiveform-switch__widget-label {
}

.cmp-adaptiveform-switch__container {
}

.cmp-adaptiveform-switch__widget {
}

.cmp-adaptiveform-switch__widget-slider {
}

.cmp-adaptiveform-switch__widget-slider:before {
}

input:checked + .cmp-adaptiveform-switch__widget-slider {
}

input:focus + .cmp-adaptiveform-switch__widget-slider {
}

input:checked + .cmp-adaptiveform-switch__widget-slider:before {
}

.cmp-adaptiveform-switch__widget-slider:before {
}

.cmp-adaptiveform-switch__longdescription {
}

.cmp-adaptiveform-switch__questionmark {
}

.cmp-adaptiveform-switch__errormessage {
}

.cmp-adaptiveform-switch__help-container .cmp-adaptiveform-switch__questionmark {
}

.cmp-adaptiveform-switch__shortdescription {
}