
.forms-demo .productteaser {
    width: 50%;
    margin: 0 auto;
}

.forms-demo .productteaser .item__image {
    border: none !important;
}

.forms-demo .productcarousel__container {
    max-width: 50%;
}

.forms-demo .searchBar__root {
    display: block !important;
}

.forms-demo .navigation__root {
    position: absolute;
    min-height: 450px;
    z-index: 1500;
}

.forms-demo .navigation__mask {
    z-index: 1400;
}